#optim-browser{
    display: flex;
    flex-direction: row;
}

#ob-slider-pane {
    padding-left: 10px;
    width: 250px;
}

#ob-plot-pane{
    width: 800px;
}

#ob-report-pane {
    width: 300px;
}

#mix-composition-table{
    width: 100%;
}

.slider {
    margin-bottom: 10px
}

.slider-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.slider-objective-range {
    font-size: small;
    color: gray;
    padding-left: 5px;
}

.slider-input-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    font-size: small;
}

.slider-input {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
}

#copy-mix-dialog {
    margin: 15px;
}

.MuiTableCell-head {
    font-weight: bolder;
}